@import "tailwindcss";


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-gen: var(--font-general-sans);
}

body {
  background: #E6F2FF;
  color: var(--foreground);
  font-family: "General Sans", Arial, Helvetica, sans-serif;
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(2000px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide-up {
  animation: slide-up 2s ease-out forwards;
}

@keyframes slideup-fadeout {
  0% {
    opacity: 1;
    transform: translateY(2000px);
  }

  50% {
    opacity: 0.75;
    transform: translateY(1000px);
  }

  100% {
    opacity: 0;
    transform: translateY(0);
  }
}

.animate-slideup-fadeout {
  animation: slideup-fadeout 2s ease-out forwards;
}


@keyframes slideup-cloud {
  0% {
    transform: translateY(1000px);
  }

  100% {
    transform: translateY(0);
  }
}

.animate-slideup-cloud {
  animation: slideup-cloud 2s ease-out forwards;
}

@keyframes move-15deg {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(140vw, -22vw);
  }
}

.animate-move-15deg {
  animation-name: move-15deg;
  animation-duration: 3s;
  animation-timing-function: ease-in;
  animation-delay: 3s;
  animation-fill-mode: forwards;
  will-change: transform;
}

@keyframes move-15ndeg {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-140vw, -22vw);
  }
}

.animate-move-15ndeg {
  animation-name: move-15ndeg;
  animation-duration: 3s;
  animation-timing-function: ease-in;
  animation-delay: 3s;
  animation-fill-mode: forwards;
  will-change: transform;
}